body,html
{
    background-image: url(img/hip-square.png);
    height: 100%;
}

#container
{
    height: 100%;
    width: 680px;
    margin-top: -40px;
    padding-top: 80px;
    padding-bottom: 53px;
    border-right: 5px dashed black;
    border-left: 5px dashed black;
}

h1
{
    text-align: center;
    font-size: 52px;
    font-family: courier;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 3px #c9bb93;
    margin-bottom: 60px;
}

.tile
{
    width: 160px;
    height: 160px;
    border: 4px solid black;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    font-family: courier;
    text-shadow: 2px 2px #c9bb93;
}

.tile:hover
{
    opacity: 0.2;
    background-color: #c9bb93;
}

.tile:active
{
    opacity: 0.5;
    background-color: #a68d47;

}

/* 1st line */
#tile1
{
    border-top: 0px;
    border-left: 0px;
    border-top-left-radius: 200px;
}

#tile2
{
    border-top: 0px;
}

#tile3
{
    border-top: 0px;
    border-right: 0px;
    border-top-right-radius: 200px;
}

/* 2nd line */
#tile4
{
    
    border-left: 0px;
}

#tile6
{
    border-right: 0px;
}

/* 1st line */
#tile7
{
    border-bottom: 0px;
    border-left: 0px;
    border-bottom-left-radius: 200px;
}

#tile8
{
    border-bottom: 0px;
}

#tile9
{
    border-bottom: 0px;
    border-right: 0px;
    border-bottom-right-radius: 200px;
}

#newGame
{
    margin-top: 60px;
    width: 120px;
    height: 40px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color:antiquewhite; 
    font-weight: bold;
    text-shadow: 1px 1px #c9bb93;
    border: 3px outset black;
}

#newGame:hover
{
    background-color:#e9dac6;
}

#newGame:active
{
    background-color:#c2b89f;
}


